body{
    max-height: fit-content;
    background: gray;
    margin: 0 auto;
}

.Home p ,a{
    display: inline;
    color: #56e22b;
    text-decoration: none;
}

.Home{
  background: blue;
  margin-bottom: 48px;
}

.Home a:hover{
    color: wheat;
}

h1{
    text-align: center;
}

h1, h2, h3{
    text-align: center;
}

ul, ol{
  text-align: left;
  width: fit-content;
  margin: 0 auto;
}